.challengeBoxContainer {
  height: 100%;
  min-width: 200px;

  background: var(--white);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05);
  padding: 1.5rem 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  transition: background-color 0.2s;
}

.darkthemeChallengeBoxContainer {
  background: var(--darktheme-black);
}

.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challengeNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.challengeNotActive p {
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 1.4;
  max-width: 70%;
  margin-top: 3rem;
}

.challengeNotActive p img {
  margin-bottom: 1rem;
}

.challengeActive {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.challengeActive header {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.25r em;

  padding: 0 2rem 1.5rem;
  border-bottom: 1px solid var(--gray-line);
}

.challengeActive main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challengeActive main strong {
  font-size: 2rem;
  font-weight: 600;
  color: var(--title);
  margin: 1.5rem 0 1rem;
  transition: color 0.2s;
}

.darkthemeChallengeActive main strong {
  color: var(--darktheme-title);
}

.challengeActive main p {
  line-height: 1.5;
}

.challengeActive footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.challengeActive footer button {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  color: var(--white);

  font-size: 1rem;
  font-weight: 600;

  transition: filter color 0.2s;
}

.darkthemeChallengeActive footer button {
  color: var(--darktheme-black);
}

.challengeActive footer button.challengeFailedButton {
  background: var(--red);
}

.challengeActive footer button.challengeSucceededButton {
  background: var(--green);
}

.challengeActive footer button:hover {
  filter: brightness(0.9);
}
